.mdl-list__item.mdl-list__item--custom {
  border-bottom: 1px solid #DDD;
  max-width: 550px;
}

.mdl-list__item-secondary-content.mdl-list__item-secondary-content--custom {
  max-width: 40%;
}

.material-icons.mdl-list__item-avatar.mdl-list__item-avatar--custom {
  border-radius: 0;
}

.prod__quantity {
  font-size: 1.4rem;
  width: 50px;
  margin: 0 1rem;
  height: 26px;
  padding: 0.5rem;
}

.prod__button.mdl-button {
  vertical-align: top;
}
